body {


	margin-top:80px;
	padding-left:30px;
	padding-right:30px;
}



.container{

 width: 100% !Important;
}

.table {

 width: 100% !Important;


}

#users-table {
 width: 100% !Important;

}

#datatable {
    width: 100% !Important;
}

#logo {

	margin-right:10px;
	
}

tr:selected {
  background-color: white;
  color:red;
}
tr:hover {


}



tbody tr.selected td {
  background-color: #ff6700;

}


.highlight {
background-color: #ff6700;

}

table.display {
margin: 0 auto;
width: 4000px;
clear: both;
border-collapse: collapse;
table-layout: fixed; // ***********add this 
word-wrap:break-word; // ***********and this 

}

.light {

	opacity:.9;
}

#numErf,
#strIdentity,
#strOwners,
#strAmount ,
#strBondAmount ,
#strHomePhoneNo,
#strWorkPhoneNo,
#strCellPhoneNo,
#EMAIL,
#strSqMeters,
#dtmRegDate,
#strSurname,
#strFirstName,
#memNotes,
#strStreetNo,
#strStreetName,
#strComplexNo,
#strComplexName,
#strBondHolder,
#strKey,
#comment,
#memNotesNew{

 font-size: 120%;
}

#freeholds_length {
	float: right;

}


#tstrStreetName,
#tstrStreetNo,
#tstrOwners {
  color:orange;
}
#tstrComplexName,
#tstrComplexNo {
  color:green;
}

#tnumErfNo {
  color:red;
}




.dataTables_processing {
    position: absolute;
    top: -20px;
    margin-top: -40px;
    width: 150px;
    text-align: center;
    left: 45%;
  
 transform:translate(0px, -150px);
/*Firefox*/
-moz-transform:translate(0px, -150px);
/*Microsoft Internet Explorer*/
-ms-transform:translate(0px, -150px);
/*Chrome, Safari*/
-webkit-transform:translate(0px, -150px);
/*Opera*/
-o-transform:translate(0px, -150px);
}

.dataTables_info {
margin-top: 10px;

}


input[type=radio] {
 
    border: 1px;
    width: 40px;
    height: 1em;


 font-size: 140%;
padding:0;

}

#freeholds_paginate  {


}

#freeholds_length {

}

#reset{

float:left;




}



h1 span {

  color:green;
}



input[type="text"]:read-only { 


border-color:#222222;
opacity:.9; 
}

/*


input[type="text"]:read-only { 

background-color:lightblue;
opacity:.4; 

}



textarea:read-only { 

background-color:lightblue;
opacity:.4; }

#memNotes, #comment{
background-color:lightblue;
opacity:.4; 
}




#strOwners.owner {

background-color:lightblue;

}
*/

#memNotes, #comment{

background-color:#2f3339;

color:#c8c8c8;
border: 1;
border-color:#222222;

 font-size: 95%;

}




th, td { white-space: nowrap; 

}

div.dataTables_processing { z-index: 1; }

.navbar-custom {
    
    
}


/*
.navbar-custom  {
    background-image: none;
  background-repeat: no-repeat;

 
}
*/

.navbar-custom .navbar-toggle {
  border-color: #ffffff;
  color:#ffffff;
}

.navbar-custom .navbar-toggle .icon-bar {
    color: white;
     color:#ffffff;
     background-color: white;
}


.ellis {


    text-overflow: ellipsis;

}

 table.street {
  table-layout: fixed;
}

 table.street td {
  
  display: block; 
 white-space: nowrap; 
overflow:hidden;
overflow: ellipsis;
  text-overflow: ellipsis;
}

